.text-lime{
    color:lime;
}
.width-200px{
    width:200px;
}
.width-355px{
    width:355px;
}
.redious{
    border-radius: 20px;
    margin-top: -40px;
}
.pcolor{
    color:#848098;
}
.bg-footer{
    background-color: #0A0D16;
}
.text-blue{
    color:blueviolet;
}
